.ap-nav .nav-bar .logo-front{
    display: flex;
    align-items: center;
    gap: 20px;
    text-transform: uppercase;
}
.ap-nav .nav-bar .logo-front #investment{
    outline: none;
    border: 1px solid #059669;
    color: #059669;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 2px;
    padding: 4px;
}




@media (max-width: 575px){
.ap-nav{
    padding: 20px 20px;
}
.ap-nav .nav-bar{
    display: block;
}
.ap-nav .nav-bar .logo-front{
    display: flex;
    flex-direction: column;
    place-items: end;
    padding-left: 50%;
}
}