.contact-section{
    position: relative;
    padding: 100px 0px;
}
.contact-section .container .image{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.contact-section .container .image::before{
    content: "";
    background: #111;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.7;
}
.contact-section .container .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contact-section .container form{
    width: 100%;
    padding: 62px 63px 64px 64px;
    background: #19513f;
    color: #fff;
    position: relative;
    max-width: 640px;
    margin-left: 10%;
}
.contact-section .container form h3{
    color: #fff;
    text-align: start;
    margin: 0px 0px 20px 0px;
    font-size: 30px;
}
.contact-section form .form-row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}
.contact-section form :is(.form-item-email, .form-item-desc){
    grid-column: 1/3;
}
.contact-section .container form :is(input, textarea){
    width: 100%;
    height: 35px;
    margin: 2px 63px 23px 1px;
    background-color: rgba(255, 255, 255, 0.04);
    outline: 0;
    border-bottom:2px solid #fff;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-size: 15px;
}
.contact-section .container form textarea{
    height: 150px;
}
.contact-section .container form label{
    font-size: 13px;
    text-transform: uppercase;
}
.contact-section .container form p{
    font-size: 14px;
    font-weight: normal;
}
.contact-section .container form p a{
    color: #fff;
    text-decoration: underline;
}


// Media Queries
@media (min-width: 768px) and (max-width: 991px){
.contact-section .container form h3{
    font-size: 30px;
}
.contact-section form .form-row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}
}


// Common Media Queries
@media (max-width: 767px){
.contact-section .container form h3{
    font-size: 25px;
}
.contact-section form .form-row{
    display: flex;
    flex-direction: column;
}
}

@media (max-width: 991px){
.contact-section .container .image{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.contact-section .container .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contact-section .container form{
    width: 100%;
    padding: 42px 43px 44px 44px;
    background: #19513f;
    color: #fff;
    position: relative;
    max-width: 83%;
    margin-left: 10%;
}
}