.home-forthSection{
    padding: 60px 80px;
    margin-bottom: 80px;
    background-color: rgba(5, 150, 105, 0.15);
}
.home-forthSection .container .boxes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
}
.home-forthSection .container .boxes .box h5{
    font-weight: 700;
    margin-bottom: 10px;
}

// Media Queries
@media (max-width: 575px){
.home-forthSection{
    padding: 60px 40px;
    margin-bottom: 60px;
}
.home-forthSection .container .boxes{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}
}

@media (min-width: 576px) and (max-width: 767px){
.home-forthSection{
    padding: 60px 40px;
    margin-bottom: 60px;
}
.home-forthSection .container .boxes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}
}