.userInvestor-footer{
    padding: 22px 82px 21px 43px;
    background: #fff;
}
.userInvestor-footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}




@media (max-width: 575px){
.userInvestor-footer{
    padding: 22px 30px 21px 30px;
}
.userInvestor-footer .container{
    display: unset;
}
.userInvestor-footer .container h6{
    text-align: end;
}
}