@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,300&display=swap');
@import "production";
@import "investment";
@import "index";
@import "salespoint";
@import "login";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    --primary: #007bff;
    --primary-hover: #0062cc;
    --secondary: #6c757d;
    --secondary-hover: #545b62;
    --success: #28a745;
    --success-hover: #1e7e34;
    --danger: #dc3545;
    --danger-hover: #bd2130;
    --warning: #ffc107;
    --warning-hover: #d39e00;
    --info: #17a2b8;
    --info-hover: #117a8b;
    --light: #f8f9fa;
    --light-hover: #dae0e5;
    --dark: #343a40;
    --dark-hover: #1d2124;
    --white: #fff;
    --footer: #2D333F;
    --background: #e7e7ec71;
    font-family: 'ubuntu', 'sans-serif';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: capitalize;
    font-family: 'ubuntu', 'sans-serif';
}

h1 {
    font-size: 40px;
    font-weight: 700;
}

h2 {
    font-size: 35px;
    font-weight: 700;
}

h3 {
    font-size: 30px;
    font-weight: 500;
}

h4 {
    font-size: 25px;
    font-weight: 500;
}

h5 {
    font-size: 20px;
    font-weight: 400;
}

h6 {
    font-size: 15px;
    font-weight: 400;
}

p {
    font-size: 16px;
    line-height: 150%;
    font-style: normal;
    font-weight: normal;
    font-weight: 400;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #111;
    font-weight: 400;
}

li {
    list-style: none;
}
// Buttons
button {
    padding: 11px 20px;
    border-radius: 2px;
    border: 1px solid #dc3545;
    outline: none;
    text-transform: capitalize;
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    background-color: #fff;
    color: #111;

    &:hover {
        border: 1px solid transparent;
        background-color: #dc3545;
        color: #fff;
        transition: all 0.3s ease;
    }
}
.button-2 {
    padding: 4px 7px;
    font-size: 14px;
    color: #059669;
    border: 1px solid #059669;

    &:hover {
        border: 1px solid transparent;
        background: #059669;
        color: #fff;
        transition: all 0.3s ease;
    }
}
// Common Nav
nav{
    padding: 22px 82px 21px 43px; 
    box-shadow: 0px 3px 8px -8px black
}
nav .nav-bar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
// CommonSection & Container
.common-section {
    padding: 40px 80px 0px;
    background-color: #fafafa;
    margin-top: 1px;
}
.common-container {
    width: 100%;
    max-width: 50%;
    background-color: #fff;
    padding: 40px;
    margin: 0px auto;
}
// Common Form
form .form-rows {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px 50px;
}
form .row-item {
    display: grid;
}
form .form-rows .row-item label {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 3px;
}
form .form-rows .row-item input {
    outline: none;
    border: none;
    border-bottom: 2px solid #111;
    background-color: rgba(0, 0, 0, 0.04);
    height: 44px;
    padding-left: 5px;
}
form .btn button {
    width: 100%;
    margin-top: 30px;
    text-transform: uppercase;
    background-color: #059669;
    border: 1px solid transparent;
    color: #fff;

    &:hover {
        border: 1px solid #059669;
        background-color: #fff;
        color: #059669;
        transition: 0.3s ease;
    }
}
.row-item input[type="file"]::file-selector-button{
    background-color: #dcdcdc;
    padding: 6px;
    outline: none;
    border-radius: 3px;
    border: solid 1px #a2a2a2;
    background-image: linear-gradient(to bottom, #efefef, #bcbcbc);
    cursor: pointer;
}
// Common Table
.table{
    background-color: #fff;
    padding: 40px;
}
table{
    width: 100%;
}
.table table thead tr,
.table table tbody tr{
    box-shadow: 0 5px 4px -7px #111;
    height: 70px;
}
.table table thead tr th{
    font-size: 14px;
    text-transform: uppercase;
    color: #808080;
    text-align: start;
}
.table table tbody tr td{
    font-size: 16px;
}