.sp_rap-secondSection{
    padding-bottom: 202px !important;
}
.sp_rap-secondSection .container form{
    width: 100%;
    padding: 30px;
    background-color: #fff;
    color: #111;
    max-width: 550px;
}
.sp_rap-secondSection .container{
    display: flex;
    justify-content: center;
}
.sp_rap-secondSection .container form h5{
    text-transform: uppercase;
    font-weight: 700;
    margin: 0px 0px 40px 0px;
    text-align: center;
}
.sp_rap-secondSection form .form-rows{
    grid-template-columns: 1fr;
}
.sp_rap-secondSection .container form :is(input, textarea){
    width: 100%;
    height: 35px;
    margin: 3px 0px 0px 0px;
    background-color: rgba(0, 0, 0, 0.04);
    outline: 0;
    border-bottom:2px solid #111;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-size: 15px;
}
.sp_rap-secondSection .container form textarea{
    height: 170px;
    border-bottom: none;
}
.sp_rap-secondSection .container form label{
    font-size: 13px !important;
}


// Media Queries
@media (max-width: 575px){
.sp_rap-secondSection{
    padding: 40px 20px !important;
    overflow: hidden;
}
.sp_rap-secondSection .container form{
    padding: 30px 0px;
}
}

@media (min-width: 576px) and (max-width: 767px){
.sp_rap-secondSection{
    padding: 40px 40px !important;
}
.sp_rap-secondSection .container form{
    padding: 50px 0px;
    max-width: 75%;
}
}

@media (min-width: 768px) and (max-width: 991px){
.sp_rap-secondSection{
    padding: 40px 60px !important;
}
.sp_rap-secondSection .container{
    display: flex;
    justify-content: center;
}
.sp_rap-secondSection .container form{
    padding: 40px;
    max-width: 75%;
}
}


// Common Media Queries
@media (max-width: 767px){
.sp_rap-secondSection .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sp_rap-secondSection .container form{
    margin-left: 0px;
}
}

@media (max-width: 991px){
.sp_rap-secondSection .container form{
    width: 100%;
    background-color: #fff;
    color: #111;
}
}