.vsp-third-section{
    padding: 26px 80px 80px 80px;
    background: #fafafa;
}
.vsp-third-section .container .container-content{
    display: flex;
    justify-content: space-between;
    margin: 0px 20px 20px 0px;
    font-size: 25px;
}
.vsp-third-section .container .container-content h5:nth-child(2) a{
    font-size: 18px;
    color: #2c6ecb;
    &:hover{
    color: red;
    transition: all 0.3s ease;
    }
}
.vsp-third-section .container .table table tr{
    display: none;
}
.active{
    display: table-row !important;
}
.vsp-third-section .container .table table thead th:nth-child(1){
    text-align: end;
}
.vsp-third-section .container .table table tbody tr td:nth-child(1){
    width: 10%;
    text-align: end;
    padding-right: 10px;
}
.vsp-third-section .container .table table tbody tr td:nth-child(2){
    width: 30%;
    font-size: 15px;
    font-weight: 700;
}
.vsp-third-section .container .table table tbody tr td:nth-child(3){
    width: 10%;
}
.vsp-third-section .container .table table tbody tr td:nth-child(4){
    width: 40%;
}
.vsp-third-section .container .table table tbody tr td:nth-child(5){
    width: 10%;
}
.vsp-third-section .container .table table tbody tr td:nth-child(1) img{
    width: 50%;
    border-radius: 23px;
}
.vsp-third-section .container .table table a{
    color: #2c6ecb;
    &:hover{
    color: red;
    transition: all 0.3s ease;
    }
}

// Media Queries
@media (max-width: 575px){
.vsp-third-section{
    padding: 25px 20px;
    overflow: hidden;
}
.vsp-third-section .container .table{
    padding: 40px 0px;
}
.vsp-third-section .container table tbody tr{
    height: 500px;
}
.vsp-third-section .container table tbody tr td{
    height: 100px;
}
.vsp-third-section .container .table table tbody tr td:nth-child(1) img{
    width: 15%;
}
.vsp-third-section .container .table table tbody tr td:last-child{
    width: 100%;
}
}

@media (min-width: 576px) and (max-width: 991px){
.vsp-third-section{
    padding: 25px 50px;
}
.vsp-third-section .container .table table tbody tr{
    height: 300px;
}
.vsp-third-section .container .table table tbody tr td{
    height: 60px;
}
.vsp-third-section .container .table table tbody tr td:nth-child(1) img{
    width: 10%;
}
}


// Common Media Queries
@media (max-width: 991px){
.active{
    display: block !important;
}
.vsp-third-section .container table thead{
    display: none;
}
.vsp-third-section .container table,
.vsp-third-section .container table tbody,
.vsp-third-section .container table tbody tr,
.vsp-third-section .container table tbody tr td{
    display: block;
}
.vsp-third-section .container table tbody tr{
    margin-bottom: 25px;
    box-shadow: unset;
    background: #fff;
    border: 1px solid red;
    border-radius: 5px;
}
.vsp-third-section .container table tbody tr td{
    box-shadow: 0px 3px 8px -8px black;
    text-align: right;
    padding-left: 50%;
    position: relative;
    padding-right: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.vsp-third-section .container table tbody tr td::before{
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 5px;
    font-size: 14px;
    text-align: left;
}
.vsp-third-section .container .table table tbody tr td:nth-child(1),
.vsp-third-section .container .table table tbody tr td:nth-child(2),
.vsp-third-section .container .table table tbody tr td:nth-child(3),
.vsp-third-section .container .table table tbody tr td:nth-child(4),
.vsp-third-section .container .table table tbody tr td:nth-child(5){
    width: 100%;
}
.vsp-third-section .container .table table tbody tr td:last-child{
    box-shadow: none;
}
}