.as-nav .logo-front p:nth-child(2) a{
    color: #059669;
    font-weight: 700;
    text-decoration: underline;
}
.as-nav .logo-front p:nth-child(1) a{
    color: #111 !important;
    font-weight: normal !important;
    text-decoration: none !important;
}